.editVacancyField {
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px; */
    position: relative;
}
.editVacancyList {
    z-index: 1;
    position: absolute;
    top: 36px;
    left: -230px;
    width: 325px;
    padding: 24px 0;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1), 0 2px 24px rgba(0, 0, 0, 0.1);
    cursor: default;
}
.editVacancyChoice {
    padding: 6px 24px;
    display: flex;
    align-items: center;
}
.editVacancyChoice:hover {
    cursor: pointer;
    background-color: #eff0f5;
  }
.hidden {
    display: none;
}
.button {
    border: none;
    background: transparent;
    cursor: pointer;
}