.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 101px;
    padding: 0 40px 0 68px;
    border-bottom: 1px solid var(--secondary-light-grey-hover);
    font: 400 16px/22px RobotoRegular;
}

.navigation {
    display: flex;
    align-items: center;
}

.link {
    color: var(--black);
    text-decoration: none;
}

.link:hover{
    color: var(--blue);
}

.subLink {
    color: var(--primary-dark-grey);
    cursor: default;
}

.exit {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 50px;
    padding: 0 13px;
    border: none;
    border-radius: 5px;
    background: var(--secondary-light-grey);
    cursor: pointer;
    transition: .3s;
}

.exit:hover {
    color: var(--white);
    background: var(--blue);
    transition: .3s;
}

.exit svg {
    rotate: 180deg;
}

.exit:hover svg path {
    stroke: var(--white);
    transition: .3s;
}
