.wrap {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.wrapLanguage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    width: 640px;
}

.title {
    font: 500 24px/28px RobotoMedium;
    color: var(--black);
}

.btnAddField {
    align-self: flex-start;
    border: none;
    outline: none;
    background: transparent;
    font: 400 16px/20px RobotoRegular;
    color: var(--blue);
    cursor: pointer;
}

.btnAddField:disabled {
    color: var(--primary-light-grey);
    cursor: default;
}

.btnAddField:hover:enabled {
    color: var(--blue-hover);
}

.wrapBtn{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    width: 640px;
}

.btnContinue {
    height: 50px;
    width: 160px;
    margin-top: 14px;
    font: 400 16px/20px RobotoRegular;
    border-radius: 6px;
    border: 1px solid var(--primary-light-grey);
    background: transparent;
    cursor: pointer;
}

.btnContinue:hover {
    border: 1px solid var(--blue);
}

.hidden {
    display: none;
}

.btnBack{
    height: fit-content;
    width: fit-content;
    margin: auto 40px auto 40px;
    font: 400 16px/20px RobotoRegular;
    color: var(--blue);
    border-radius: 6px;
    border: none;
    background: transparent;
    cursor: pointer;
}