.item {
    padding: 24px 29px 24px 0;
    display: flex;
    justify-content: space-between;
    gap: 29px;
    border-bottom: 1px solid #DEE3EF;
}

.timePeriod {
    width: 29.24%;
}

.dates, .fullPeriod {
    font: 400 16px/140% 'RobotoRegular', sans-serif;
}

.fullPeriod {
    margin-top: 8px;
    color: var(--blue);
}

.info {
    width: 65.16%;
}

.companyName {
    margin-bottom: 3px;
    font: 500 18px/150% 'RobotoMedium', sans-serif;
}

.site {
    margin-bottom: 11px;
    max-width: 400px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.site a {
    text-decoration: none;
    font: 400 14px/16px 'RobotoRegular', sans-serif;
    color: #989898;
}

.position {
    margin-bottom: 12px;
    color: var(--blue);
    font: 700 18px/140% 'RobotoBold', sans-serif;
}

.description {
    overflow-wrap: break-word;
    font: 400 16px/120% 'RobotoRegular', sans-serif;
}

.activity {
    margin: 0 0 24px;
    padding: 0;
    color: var(--black);
    font: 400 16px/140% Roboto, sans-serif;
}

.hiddenBlock {
    margin-top: 16px;
}

.hiddenBlock:last-of-type{
    margin: 0;
}