.newLinkModal {
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

    .wrap {
        display: flex;
        flex-direction: column;
        width: 557px;
        padding: 40px 32px;
        background: #fff;
        border-radius: 8px;
    }
