.calendarPage {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 25px 64px;
  border-bottom: 1px solid var(--secondary-light-grey-hover);
  margin-bottom: 30px;
}

.header div{
  align-self: center;
  height: max-content;
}

.header span {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: var(--primary-dark-grey);
  pointer-events: none;
}

.link {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: var(--black);
  text-decoration: none;
}

.link:visited {
  color: var(--black);
}

.btn {
  padding: 10px 30px;
  background-color: var(--blue);
  border-radius: 5px;
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  border: none;
  outline: none;
  cursor: pointer;
}

.contentFlexContainer{
  display: flex;
}

.content {
  padding: 0 64px;
  width: 100%;
}

.miniCalendarContainer {
  display: flex;
  align-items: center;
}

.countEvents {
  margin-left: 16px;
  font-size: 14px;
  line-height: 16.8px;
  font-weight: 400;
  color: var(--primary-dark-grey);
}

.calendarWrapper {
  margin-top: 35px;
  display: flex;
  width: 100%;
  height: max-content;
  overflow: hidden;
}
